

img {
	float: left;
	left: 0px;
}
.topnav {

color: red;
align-self: var(--topnav-justify);

}
#welcome-section {

	height: 100vh;
}

.background {

	position: relative;
	
	width : 100%;
	
	}
	
.first{
}
mark{
background-image: linear-gradient(rgb(251, 212, 111),
rgb(249, 234, 117));
color: black;
}

.second {


}
	
body {
	
	position: absolute;
	top: 50px;
	left: 10px;
	width: 95%;
}

@media (){
	:root {
		--topnav-justify: top;
	}
}

